juegos.dtd

<!ELEMENT juegos (juego+)>
<!ELEMENT juego (nombre, plataforma, precio, sinopsis)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre codigo ID #PCDATA #REQUIRED>
<!ATTLIST nombre idioma (es|en) NMTOKEN #REQUIRED>
<!ELEMENT plataforma EMPTY>
<!ELEMENT precio (#PCDATA|EMPTY)>
<!ATTLIST precio moneda (usd|mx) NMTOKENS #IMPLIED>
<!ELEMENT sinopsis (#PCDATA)>
<!ATTLIST sinopsis codigoDeJuego IDREF #IMPLIED>
<!ENTITY autor "Juan Carlos Ledezma">
